<phpunit bootstrap="vendor/autoload.php">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory suffix=".php">./vendor</directory>
            <file>logout.php</file>
            <file>dashboard.php</file>
            <file>session.php</file>
            <file>quote_history.php</file>
        </exclude>
    </coverage>
</phpunit>